<h1>The Word Wagon</h1>

<h3>Words:</h3>
<% if @words.any? %>
  <ul> <% @words.each do |word| %>      
      <li><a href="/words/<%= word.id %>"><%= word.name %></a> </li>
    <% end %>
  </ul>
<% else %>
  <p>Uh oh! No words have been added yet!</p>
<% end %>
<br>

<a href="/words/new"><button class="btn btn-success">Add a new word!</button></a>
<br>
<form action="/words/sort" method="post">
  <br>  
  <button type="submit" class="btn btn-warning">Sort Words Alphabetically</button>
  <br>
</form>

<form action="/words">
  <div class="form-group">
  <br>
    <label for="search">Search for Word</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Go!</button>
  <br>
</form>

<h3>Searched Words: </h3>
<% array = Word.search(params[:search]) %>
<% if array.any? %>
  <ul> <% array.each do |word| %>      
    <li><a href="/words/<%= word.id %>"><%= word.name %></a> </li>
  <% end %>
  </ul> 
<% else %>
  <p>Uh Oh! No searched words to display!</p>
<% end %>
<br>